
 body {
  background-image: url(https://image.ibb.co/d2dYqw/Borrowed_Money.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height:100%;
  }

.Table {
  width: 50%;
  float: right;
  padding: 15px 20px 50px 100px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 60px;
  margin-left: 20px;
  background-color: #F1F1D9;
  color: #ffffff;
}

  .gap-left {
    margin-right: 20px; 
    margin-top: 40px;
    margin-left: 100px;
  }

  .input {
    margin-bottom: 25px;
  }
  
  hr.style-one {
    border: 0;
    height: 1.5px;
    background: #333;
  }
  
  .list-unstyled {
    width: 75%;
    float: right;
    padding: 15px 10px;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 100px;
    border: 20px solid #e5dace;
  } 
 
  .debt-history-table {
    width: 50%;
    float: right;
    padding: 15px 20px 50px 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 20px;
    background-color: #F1F1D9;
    color: #000000;
  }
